# system
.DS_Store

# npm
npm-debug.log
package.lock
node_modules
yarn.lock

# source maps
*.map

# phpunit
.phpunit.result.cache
*.xml.dist.bak

# composer
vendor

# other
*.sql
*.log
*.zip
*.afphoto~lock~
acf-events

# Testing tools and outputs
/tests/**/reports/
/tests/**/results/
**/playwright-report/
**/playwright/.cache
**/playwright/.auth
playwright-results.json
.wp-env.override.json
.phpunit.result.cache
